<ion-header>
  <ion-navbar>
    <ion-title>Shubhs Blog</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

 <ion-card *ngFor="let post of postDataForListing">
   <img [src]="post.media_url" *ngIf="post.media_url"/>
   <ion-card-content>
     <ion-card-title> {{post.id}} -
      {{post.title.rendered}}
     </ion-card-title>
     <div [innerHTML]="post.excerpt.rendered"></div>
   </ion-card-content>
 </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
