<ion-header>
  <ion-navbar>
    <ion-title>Full Post</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img [src]="postData?.media_url" *ngIf="postData?.media_url"/>
    <ion-card-content>
      <ion-card-title>
        {{postData?.title?.rendered}}
      </ion-card-title>
      <ion-row>
        <ion-col>
          <ion-chip>
            <ion-label>
              <ion-icon name="calendar"></ion-icon>
              {{postData?.date | date}}
            </ion-label>
          </ion-chip>
        </ion-col>
        <ion-col>
          <ion-chip>
            <ion-label title="Author">
              <ion-icon name="contact"></ion-icon>
              {{this.postData?.authorData?.name}}
            </ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <p [innerHTML]="postData?.content?.rendered"></p>
    </ion-card-content>
    <div class="post-comment-section" *ngIf="postData && postData.comments && postData.comments.length != 0">
      <ion-row class="post-comment-wrapper" *ngFor="let comment of postData.comments; let i = index">
        <ion-avatar class="comment-avatar">
          <img [src]="comment.author_avatar_urls['24']">
        </ion-avatar>
        <div class="comment-block">
          <div class="commenter">
            {{comment.author_name}}
          </div>
          <div class="date-time">
            {{comment.date | date: 'medium'}}
          </div>
          <p class="text" [innerHTML]="comment.content.rendered"></p>
        </div>
      </ion-row>
    </div>
  </ion-card>
</ion-content>
